/* basic reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #edeff0;
	font-family: 'Roboto', sans-serif;
}

/* header */
header {
	background: #fff;
}

header a {
	color: #000;
	display: inline-block;
	padding: 15px;
	text-decoration: none;
}

header #logo {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
}

header nav li {
	text-align: center;
	border: 1px solid #ddd;
	display: inline-block;
	transition-duration: .7s;
	width: 120px;
}

header nav li:hover {
	background-color: #ddd;
}

/* intro section */
#intro {
	background-attachment: fixed;
	background-image: url("../img/garden.jpg");
	background-size: cover;
	min-height: 400px;
}

.intro-text {
	position: relative;
	text-align: center;
	top: 100px;
}

.intro-text h2 {
	background-color: rgba(50, 50, 50, .6);
	color: #fff;
	padding: 15px;
}

.intro-text h3 {
	background-color: rgba(50, 50, 50, .6);
	color: #fff;
	padding: 10px;
}

.intro-text .call-to-action a {
	background-color: #55c18f;
	color: #fff;
	display: inline-block;
	margin: 20px 0 50px;
	padding: 15px;
	text-decoration: none;
	transition-duration: .3s;
}

.intro-text .call-to-action a:hover {
	box-shadow: 2px 2px 12px #222;
}

/* welcome section */
#welcome {
	background-color: #55c18f;
	color: #fff;
	padding-bottom: 50px;
}

#welcome h2 {
	padding: 15px;
	text-align: center;
}

#welcome p {
	padding: 10px;
}

.services-container {
	max-width: 700px;
	margin: 50px auto;
}

.services {
	margin: 20px 10px;
	text-align: center;
}

.service-title {
	border-bottom: 2px solid #fff;
	font-size: 1.4em;
	padding: 15px;
}

.work {
	background-size: cover;
	height: 400px;
	margin: 20px 10px;
	position: relative;
}

.work.one {
	background-image: url("../img/s1.jpeg");
}

.work.two {
	background-image: url("../img/s2.jpeg");
}

.work.three {
	background-image: url("../img/s3.jpeg");
}

.work.four {
	background-image: url("../img/s4.jpeg");
}

.work-title {
	background-color: rgba(50, 50, 50, .6);
	padding: 20px;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}











